<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Все пользователи </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <style> #{
        position: fixed;
        height: 100%;
    } </style>

    <style> #then {
        display: flex;
        flex-wrap: wrap;
    } </style>

    <style>
        .box {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
    </style>

    <style>
        #btn1 {
            display: flex;
            justify-content: stretch;
            align-content: flex-start;
        }

    </style>

    <style>
        .no-margin {
            padding-right: 0;
            padding-left: 0;
        }
    </style>

    <style>
        .no-margin2 {
            display: flex;
            justify-content: center;
            align-content: center;
        }
    </style>

    <style>
        .col-form-label {
            display: flex;
            justify-content: center;
            font-weight: bolder;
        }
    </style>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 " style="background-color: black">
            <div class="box">
                <b style="color: white; font-size:150%" id="header"> </b>
                <a class="btn btn-dark "  href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 no-margin" style="background-color: white; height: 1200px" id="secondColumn">
            <br/>
                <a class="btn btn-primary btn-block " href="/admin">Admin</a>
                <a class="btn btn-primary btn-block " href="/user">User</a>
        </div>

        <div class="col-md-10" style="background-color: whitesmoke; height: 1200px" id="thirdColumn">
            <br/>
            <div class="container">
                <h2>
                    <b>Admin panel</b>
                </h2>
                <div class="card">
                    <div class="card-block">
                        <ul class="nav nav-tabs ">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#users">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#new">Add new user</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="users">
                                <table class="table table-striped" id="tableUsers">
                                    <thead>
                                    <tr class="table-active">
                                        <th colspan="8">
                                            <h5>All users</h5>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="data" >

                                    </tbody>

                                </table>
                            </div>
                            <div class="tab-pane fade " id="new">

                                <div class="container no-margin2">
                                    <form id="formToCreateUser">
                                        <div class="form-group">
                                            <label for="firstName"
                                                   class="col-form-label d-flex justify-content-center">First
                                                name:</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName" class="col-form-label">Last name:</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="col-form-label">Email:</label>
                                            <input type="text" class="form-control" id="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-form-label">Password:</label>
                                            <input type="text" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="roles" class="col-form-label">Role:</label>
                                            <select multiple class="form-control" size="2" id="roles"
                                                    name="roles">
                                            </select>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-success"
                                                    id="butnCreate">Add new user
                                            </button>
                                        </div>
                                        <br/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="myForm1" >
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form  id="formToEdit">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="EditModalLabel">Edit user</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id" readonly>
                        </div>

                        <div class="form-group">
                            <label for="firstName" class="col-form-label">First name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-form-label">Last name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" id="password" name="password">
                        </div>

                        <div class="form-group">
                            <label for="roles" class="col-form-label">Role:</label>
                            <select multiple class="form-control" id="roles" name="roles"  >
                            </select>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"

                                id ="butnCloseEdit" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="butnSaveEdit">Save</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="myForm2" >
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form  id = "formToDelete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delModalLabel">Delete</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="id" name="id">
                        </div>

                        <div class="form-group">
                            <label for="firstName" class="col-form-label">First name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="col-form-label">Last name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label for="roles" class="col-form-label">Role:</label>
                            <select multiple class="form-control"   id="roles"  name="roles">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="butnDel" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script  src="/main_admin.js" > </script>

</body>
</html>