<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Все пользователи </title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">
    <style> #{
        position: fixed;
        height: 100%;
    } </style>
    
    <style> #then {
	    display: flex;
	    flex-wrap: wrap;
    } </style>
    
    <style>
        .box {
	        display: flex;
	        justify-content: space-between;
	        align-content: center;
        }
    </style>
    
    <style>
        #btn1 {
	        display: flex;
	        justify-content: stretch;
	        align-content: flex-start;
        }
    </style>
    
    <style>
        .no-margin {
	        padding-right: 0;
	        padding-left: 0;
        }
    </style>

    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 " style="background-color: black">
                <div class="box">
                        <b style="color: white; font-size:150%" th:text="${user.email} + ' '+'with roles: User'">  </b>
                    <form th:method="POST" th:action="@{/logout}">
                        <button class="btn btn-danger " type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 no-margin" style="background-color: white; height: 1200px" id="secondColumn">
                <br/>
                <form th:method="GET" th:action="@{/user}">
                    <button class="btn btn-primary btn-block " id="btn1">User</button>
                </form>
            </div>
            <div class="col-md-10" style="background-color: whitesmoke; height: 1200px" id="thirdColumn">
                <br/>
                <div class="container">
                <h2>
                    <b> User information-page</b>
                </h2>

                    <div class="card">
                        <div class="card-block">
                            <table class="table table-striped">
                                <thead>
                                <tr class="table-active">
                                    <th colspan="8">
                                        <h5> About User</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                    </thead>
                                <tbody>
                                <tr>
                                    <td th:utext="${user.id}">No</td>
                                    <td th:utext="${user.firstName}">No</td>
                                    <td th:utext="${user.lastName}">No</td>
                                    <td th:utext="${user.email}">No</td>
                                    <td>
                        <span th:each="role:${user.roles}"
                              th:utext="${#strings.substring(role.role,5) + '; '}">
                        </span>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script
		src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/main.js" th:src="@{/main.js}"> </script>

</body>
</html>